<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Домой</a> |
        <a href="/videos/">Список видео</a> |
        <a href="/admin">Админ панель</a> |
        <a href="/about/">О нас</a> |
        <a href="/playlists/">Плейлисты</a>
    </nav>
    <h1>{{ video.name }}</h1>
    <h2>Лайков: {{ video.likes }}</h2>
    <video width="500" controls src="{{ video.file_path.url }}">
    </video>
</body>
</html>